.thankyou{
    height: 35vh;
    width: 100%;
    position: relative;
    bottom: -8rem;

}

.thankyouicon{
    position: absolute;
    left: 13rem;

}

.thankyou h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    margin-left: -3rem;
    font-size: 2rem;
    font-weight: bold;
}

.thankyou p{
    margin-top: 1rem;
    font-size:1.3rem;
    text-align: center;
    padding-right: 2rem;
    color: var(--gray-text-color);
}


/* MEDIA QUERY */
@media screen and (max-width:768px){
    .thankyouicon{
        margin-left: -2rem;
    }
}
@media screen and (max-width:425px){    
    .thankyou{
        background-color: var(--background-color);
        top: -3rem;
        width: 93%;
        height: 50vh;
        padding-top:4rem ;
        padding-left: 1rem;
        margin-left: 1rem;
        border-radius: 4%;
    }
    .thankyouicon{
        left: 10rem;
    }
    .thankyou h1{
        margin-left: 1rem;
    }
}