.container {
  display: flex;
  width: 1000px;
  background: var(--background-color);
  gap: 80px;
  height: 72vh;
}

.left-container{
  background: url(assets/bg-sidebar-desktop.svg);
  background-repeat: no-repeat;
}

/* right container */
