*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--foreground-color);
}


:root{
  --background-color: #ffffff;
  --foreground-color: rgb(107, 146, 160);
  --button-color: skyblue;
  --secondbg-color: rgb(45, 45, 239);
  --button-text-color: #0a0a0a;
  --right-text-color: rgb(26, 26, 81);
  --gray-text-color: rgb(131, 130, 130);
  --red-error: red;
  --finish-color: rgb(237, 250, 251);
  --hr-color: rgb(224, 224, 224);
  
}


/* @media screen and (max-width:425px){
  body{
   max-width: 100vw;
  } 
} */